@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-theme-dark: #303b4c;
  --color-theme-brown: #e1dab2;
  --color-theme-red: #f05d26;
  --color-theme-text: #e8eff3;
  --color-theme-background: #0d161b;
  --color-theme-primary: #9cbfd2;
  --color-theme-secondary: #34647e;
  --color-theme-accent: #4e95bb;
}