@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-theme-dark: #303b4c;
  --color-theme-brown: #e1dab2;
  --color-theme-red: #f05d26;

  --color-theme-text: #efe8ee;
  --color-theme-background: #190f18;
  --color-theme-primary: #cb9fc4;
  --color-theme-secondary: #74386b;
  --color-theme-accent: #c06bb3;
}