---
import LatestEpisode from '@/components/LatestEpisode.astro';
import Layout from '../layouts/Layout.astro';
import EpisodesList from '@/components/EpisodesList.astro';
---

<Layout>
	<div class="grid grid-rows-2 scrollbar-thin overflow-y-auto h-full"> 
		<div class="row-span-1 flex flex-col justify-center ">
			<h1 class="text-center text-xl text-theme-test-accent">Ultimo Episodio</h1>
			<LatestEpisode />
		</div>
		<div class="row-span-1">
			<EpisodesList />
		</div>
	</div>
</Layout>
