---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="grid grid-rows-3 scrollbar-thin overflow-y-auto h-full"> 
		<div class="bg-theme-dark row-span-1">
			<h1>Ultimo Episodio</h1>
		</div>
		<div class="bg-theme-red row-span-2">
			<h1> Todos los Episodios</h1>
		</div>
	</div>
</Layout>
