---
import LatestEpisode from "@/components/LatestEpisode.astro";
import Layout from "../layouts/Layout.astro";
import { episodes as allEpisodesData } from "../lib/rss-reader";

const latestEpisode = allEpisodesData.length > 0 ? allEpisodesData[0] : null;

---

<Layout>
  <div class="grid grid-rows-[auto_1fr] h-full">
    <div class="row-span-1 flex flex-col justify-center py-5 px-4 sm:px-6 lg:px-8">
      <LatestEpisode episode={latestEpisode} />
    </div>
    <div class="row-span-1 overflow-y-auto scrollbar-thin min-h-0">
    </div>
  </div>
</Layout>
