---

---

<header class="col-span-1 flex scrollbar-thin items-start overflow-y-auto"> 
  <div class="mx-auto lg:min-h-full flex lg:flex-col">
    <div class="w-48 overflow-hidden rounded-lg sm:w-64 sm:rounded-xl lg:w-auto lg:rounded-2xl">
      <img class="w-full" src="./logo.webp" alt="" />
    </div>
  </div>
</header>