---
interface Props {
  name: string;
  img?: string;
  bluesky?: string;
}

const { name, img, bluesky } = Astro.props;
---

<li class="flex items-center gap-3">
  <img src={img} alt={name} class="w-12 h-12 rounded-full object-cover shadow" loading="lazy" />
  <div>
    <p class="font-medium text-gray-800 dark:text-gray-100">{name}</p>
    <a 
      href={bluesky}
      target="_blank"
      rel="noopener noreferrer"
      class="text-base text-theme-secondary hover:text-theme-accent transition-colors">
      Bluesky
    </a>
  </div>
</li>
