---
interface Props {
  href: string;
  label: string;
}

const { href, label } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  aria-label={`Listen on ${label}`}
  class="rounded-md bg-theme-red py-2 px-4 border border-transparent text-center text-sm text-theme-brown transition-all shadow-md hover:shadow-lg focus:shadow-none active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
>
  {label}
</a>