---
---

<div class="flex gap-x-3 text-xs pt-2">
  <span class="opacity-50 w-12 text-right">00:25:12</span>
  <input id="minmax-range" type="range" min="0" max="10" value="3" class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700">
  <span class="opacity-50 w-12">01:02:03</span>
</div>