---
import Play from '@/icons/Play.astro';
---
<div class="flex justify-center flex-row flex-nowrap items-center gap-4">
  <button class="bg-white text-black rounded-full p-2 hover:scale-110">
    <Play />
  </button>
</div>