---
const trackData = {
  title: "Bohemian Rhapsody (Or a very very long title indeed to test things out)",
  artist: "Queen",
  albumArtUrl: "https://via.placeholder.com/56/cccccc/000000?text=Queen",
  durationSeconds: 355,
};
---
<div class="grid grid-cols-[minmax(180px,auto)_1fr_minmax(120px,auto)] items-center gap-x-4 w-full">
  <div class="bg-blue-800">
  </div>
  <div class="bg-blue-500">
  </div>
  <div class="bg-blue-200">
  </div>
</div>